@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <title>E-Post Management | Home page</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Content/normalize.css">
    <link href="~/Content/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="~/Content/helper.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/Content/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/icheck.min_all.css">
    <link rel="stylesheet" href="~/Content/price-range.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.css">
    <link rel="stylesheet" href="~/Content/owl.transitions.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/bootstrap-hover-dropdown.js"></script>
    <script src="~/Scripts/easypiechart.min.js"></script>
    <script src="~/Scripts/jquery.easypiechart.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/icheck.min.js"></script>
    <script src="~/Scripts/price-range.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/main.js"></script>
</head>


<body>
    <br />
    <br />
    <br />
    <br />
    <div class="jumbotron">
        <h1>Welcome to IKU ePost Office!</h1>
        <p class="lead">IKU ePost Office system offers you easy and reliable mail orders from all around the world!</p>
        <p><a href="\Home\About" class="btn btn-primary btn-lg">About Us &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Money Order</h2>
            <p>
                You can use our super fast and secure money order system!
            </p>
            <p><a class="btn btn-primary btn-lg" href="\MakeOrder\MakeOrder">Money Order &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Signup and Login</h2>
            <p>To use our services better and easier, you need to sign up and login to our system.</p>
            <p><a class="btn btn-primary btn-lg" href="\Security\Login">Sign Up &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contact Us</h2>
            <p>Having a problem? Reach us out 24/7!</p>
            <p>Click the button below.</p>
            <p><a class="btn btn-primary btn-lg" href="\Home\Contact">Contact &raquo;</a></p>
        </div>
    </div>

    <div class="footer-area">

        <div class=" footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>About us</h4>
                            <div class="footer-title-line"></div>

                            <img src="~/Content/footer-logo.png" alt="" class="wow pulse" data-wow-delay="1s">

                            <ul class="footer-adress">
                                <li>
                                    <i class="pe-7s-map-marker strong"></i>E5 Highway Bakırköy 34158 İstanbul
                                </li>
                                <li><i class="pe-7s-mail strong"> </i>kultur@iku.edu.tr</li>
                                <li><i class="pe-7s-call strong"> </i> (0212) 498 41 41</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>Quick links </h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-menu">
                                <li><a href="MakeOrder/MakeOrder">Make Order</a>  </li>
                                <li><a href="MakeOrder/MakeOrder">Send Post</a>  </li>
                                <li><a href="Home/Contact">Contact us</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                        <div class="single-footer news-letter">
                            <h4>Stay in touch</h4>
                            <div class="footer-title-line"></div>


                            <form>
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="E-mail ... ">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </form>


                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>





</body>

</html>


