
@{
    ViewBag.Title = "OurMission";
}

<h2>Our Mission</h2>
<ul>
    <li>To provide high quality mail, parcel and related services in Turkey  and  throughout   the   world.</li>
    <li>To be recognized as an efficient and excellent organisation exceeding the expectations of the customers, employees and the society</li>
    <li>
        to perform the task by:
        <ul>
            <li>Total dedication to understanding and fulfilling customer's needs</li>
            <li>Total   devotion   to   providing  efficient   and  reliable  services, which  customers consider to be value for money.</li>
            <li>Total   commitment to providing challenging and rewarding career for every employee.</li>
            <li>Total recognition of the responsibilities as a part of the social, industrial and commercial life of the country</li>
            <li>Total enthusiasm to be forward looking and innovative in all areas.</li>
        </ul>
    </li>
</ul>

