
@{
    ViewBag.Title = "NewOrder";
}

<h2>Adding New Order</h2>

<form class="form-group" method="post">
    <div>
        <label>Customer Name</label>
        <input type="text" class="form-control" name="USERNAME" />
        <label>Last Name</label>
        <input type="text" class="form-control" name="LASTNAME" />
        <label>Category</label>
        <input type="number" class="form-control" name="CATEGORY" />
        <label>Amount</label>
        <input type="number" class="form-control" name="AMOUNT" />
    </div>
    <div style="margin-top: 15px">
        <button class="btn btn-primary">Add New Order</button>

    </div>


</form>


